{% extends 'blog/base.html' %}
<div class="row text-center"> 
{% block content %}
    {% for post in posts %}
        <div class="col-md-3"> 
            <div class="thumbnail">
            <img src="{{ post.img_1.url }}"  class="img-responsive" class="img-rounded" alt="Cinque Terre" width="400" height="300">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p><strong>{{ post.text|linebreaksbr }}</strong></p>
            <p>{{ post.published_date }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
</div>